---
layout: default
---
<div class="hero">
    <h1>Jane Marczewski</h1>
    <img src="src/img/jane__hero.jpg" alt="" />
</div>
<div class="home--intro">
    <div class="modules--container">
        <div class="modules--unit">
            <p>{{ site.description }}</p>
        </div>
    </div>
</div>
<section class="home--more">
    <div class="modules--container">
        <div class="modules--unit home--audio player">
            <h2>Listen</h2>
            {% include player.html %}
            <blockquote>
                <p>So, I write a lot of songs. And songs, for me, always tell the truth. Sometimes it’s beautiful, and sometimes not. I take the good ones and I share them.</p>
            </blockquote>
        </div>
        <article class="modules--unit home--more">
            <section class="blurb">
                <p>Hi, I'm Jane Marczewski. I'm a singer/songwriter. I also nervous-talk and pretend to like other peoples pets.</p>
            </section>
            <img src="src/img/jane__grid.jpg" alt="" />
        </article>
    </div>
</section>
<!-- <section class="modules--container home--quote">
    <blockquote class="modules--unit">
        <p>So, I write a lot of songs. And songs, for me, always tell the truth. Sometimes it’s beautiful, and sometimes not. I take the good ones and I share them.</p>
    </blockquote>
</section> -->
<section class="home--booking">
    <div class="modules--container">
        <div class="modules--unit">
            <p>Nothing would make me happier than to come sing with you.</p>
            <a href="mailto:{{ site.email }}" class="btn">Book Me</a>
        </div>
    </div>
</section>
<section class="home--downloads">
    <div class="modules--container">
        <div class="modules--unit home--downloads_list">
            <h3>Download My Music</h3>
            <ul>
                <li><a href="http://rd.io/x/QRrkIyJwLzQ/">Rdio</a></li>
                <li><a href="https://play.spotify.com/album/4Q3e5eJWEYLTY9OkX3MHcg">Spotify</a></li>
                <li><a href="https://itunes.apple.com/us/album/ocean-sky-ep/id660362935">iTunes</a></li>
                <li><a href="http://www.noisetrade.com/janemarczewski">NoiseTrade</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="modules--container">
    <div class="modules--unit home--press">
        <p><a href="http://www.lynchburgliving.com/lynchburg-living-virtual-magazine/">The awesome folks at Lynchburg Living, talked to me about my music. Read the issue here.</a></p>
    </div>
    <div class="modules--unit home--recents">
        <h3>Recent Posts</h3>
          {% for post in site.posts limit:2 %}
            <article>
                <h4><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
                <span class="post--full_meta">{{ post.date | date: "%B %-d, %Y" }}</span>
                <div>
                    <a class="btn post-link" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
                </div>
            </article>
          {% endfor %}
        </ul>
    </div>
</section>
