.entry {
	p {
		&:first-child {
			&:first-letter {
				float: left;
				color: $blue;
				font-size: 5rem;
				line-height: 4.5rem;
				margin-top: -1rem;
				margin-bottom: 0;
				padding-right: .375rem;
				padding-bottom: 0;
				font-weight: 700;
				font-family: $sans-serif;
			}
		}
	}
}
