.footer {
    padding: 3rem .5rem;
    &--socialmedia {
        text-align: center;
        padding: 2rem .5rem;
        a {
            display: inline-block;
            margin: .25rem .75rem;
            @include respond-to(handhelds) {
                margin: .25rem;
            }
        }
    }
    p {
        text-align: center;
        font-family: $sans-serif;
    }

}
