.footer {
    padding: 3rem .5rem;
    &--socialmedia {
        text-align: center;
        padding: 2rem .5rem;
        a {
            display: inline-block;
            margin: .25rem .75rem;
            @include respond-to(handhelds) {
                margin: .25rem;
            }
        }
        &::after {
            content: "";
            width: 4rem;
            height: 2px;
            background: $blue--green;
            margin: 2rem auto .5rem;
            display: block;
        }
    }
    p {
        text-align: center;
        margin: 0 auto;
        font-family: $sans-serif;
    }

}
