<footer class="footer">
<div class="footer--socialmedia">
    <a href="https://www.facebook.com/JaneMarczewskiMusic" target="_blank">
        <svg viewBox="0 0 300 300" class="icon circling">
            <use xlink:href="#facebook"></use>
        </svg>
    </a>
    <a href="http://instagram.com/janemarczewski" target="_blank">
        <svg viewBox="0 0 300 300" class="icon circling">
            <use xlink:href="#instagram"></use>
        </svg>
    </a>
    <a href="https://twitter.com/JaneMarczewski" target="_blank">
        <svg viewBox="0 0 300 300" class="icon circling">
            <use xlink:href="#twitter"></use>
        </svg>
    </a>
    <!-- <a href="http://www.pinterest.com/janemarczewski/" target="_blank">
        <svg viewBox="0 0 300 300" class="icon circling">
            <use xlink:href="#pinterest"></use>
        </svg>
    </a> -->
</div>
<div class="modules--container">
    <div class="modules--unit">
        <p>Copyright &copy; {{ site.time | date: '%Y' }} Jane Marczewski. And it's pronounced, Mar-Chess-Key, you guys.</p>
    </div>
</div>
</footer>

</body>
