html {
    font: 400 100%/1.4 $sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $text;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
}

p {
    font-weight: 300;
    font-family: $serif;
    margin-bottom: 1rem;
    &:last-of-type {
        margin-bottom: 0;
    }
}

blockquote {
    color: $blue;
    padding: 2rem .5rem 0;
    margin: 1rem 0;
    &::after {
        content: "";
        width: 18rem;
        height: .25rem;
        margin-top: 2rem;
        background: $blue--green;
        display: block;
        float: left;
        @include respond-to(handhelds) { width: 5rem; }
    }
    p {
        font-weight: 700;
        font-size: 2.25rem;
        max-width: 38rem;
        @include respond-to(handhelds) {
            font-size: 1.5rem;
        }
    }
}
a {
    text-decoration: none;
    color: $blue--green;
    transition: all 375ms linear;
    &:hover {
        color: $blue;
    }
}

ul, ol {
    list-style-position: inside;
}

.titling {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    span {
        border-bottom: 1px solid;
        padding: 0 .5rem .5rem;
    }
}
