.about {
	&.modules--container {
		max-width: 68rem;
		margin: 1rem auto !important;
	}
	.modules--unit {
		padding: 1.5rem 2rem;
	}
	h3 {
		font-family: $serif;
		font-weight: 700;
		font-size: 1.25rem;
		color: $blue--green;
		&::after {
			content: "";
			display: block;
			width: 4rem;
			height: 2px;
			background: $blue;
			margin: .5rem 0 1rem;
		}
	}
	.btn {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	&--side {
		max-width: 25rem;
		margin-bottom: 1rem;
	}
	ul {
		list-style: none;
		li {
			padding: .375rem 0;
			max-width: 10rem;
			border-bottom: 1px solid $blue--green;
			&:last-of-type {
				border-bottom: 0;
			}
		}
	}
	.post--full_header {
		text-align: left;
	}
}
