.home {
    &--intro {
        // padding: 1rem;
        p {
            text-transform: uppercase;
            display: block;
            text-align: center;
            font: italic 400 1.5rem $sans-serif;
            color: $blue;
            letter-spacing: 2px;
            max-width: 38rem;
            margin: 0 auto;
            @include respond-to(handhelds) {
                font-size: 1.125rem;
            }
        }
    }
    &--booking {
        padding: 2rem;
        background-color: $blue;
        background: url('../img/jane__booking.jpg') center center / cover;
        p {
            font-weight: 700;
            font-size: 2rem;
            color: $white;
            margin: 1rem auto;
            max-width: 33rem;
        }
        .btn {
            display: block;
            max-width: 15rem;
            text-align: center;
            margin: 1rem auto 0;
            color: white;
            font-size: 1.5rem;
            &:hover {
                color: $white;
            }
        }
    }
    &--downloads {
        background: $blue;
        color: white;
        padding: 1rem 0;
        text-align: center;
        @include respond-to(handhelds) {
            text-align: left;
        }
        h3 {
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        ul { }
        li {
            display: inline-block;
            padding: 0 .75rem .75rem 0;
            font-weight: 700;
            font-size: 1.25rem;
            &:last-of-type {
                padding-right: 0;
            }
        }
        a {
            color: $blue--green;
            &:hover {
                color: white;
            }
        }
    }
}
