.home {
    &--intro {
        // padding: 1rem;
        p {
            text-transform: uppercase;
            display: block;
            text-align: center;
            font: italic 400 1.5rem $sans-serif;
            color: $blue;
            letter-spacing: 2px;
            max-width: 38rem;
            margin: 0 auto;
            @include respond-to(handhelds) {
                font-size: 1.125rem;
            }
        }
    }
    &--booking {
        padding: 2rem;
        background-color: $blue;
        background: url('../img/jane__booking.jpg') center center / cover;
        p {
            font-weight: 700;
            font-size: 2rem;
            color: $white;
            margin: 1rem auto;
            max-width: 33rem;
        }
        .btn {
            display: block;
            max-width: 15rem;
            text-align: center;
            margin: 1rem auto 0;
            color: white;
            font-size: 1.5rem;
            &:hover {
                color: $white;
            }
        }
    }
}
