.home {
    &--about {
        padding: 2rem;
    }
    &--download {
        width: 100%;
        background: $orange url('../img/jane--download.png') no-repeat center left;
        background-size: cover;
        padding: 2rem;
        color: $white;
    }
    &--downloads_list {
        ul { list-style: none inside;}
        li {
            font-weight: 700;
            font-size: 1.5rem;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        a {
            color: $yellow;
            &:hover {
                color: $darkblue;
            }
            &::before {
                content: "\2192";
                margin-right: .25rem;
                color: $white;
            }
        }
    }

    &--booking {
        color: $white;
        padding: 4rem 2rem;
        background: $darkblue url('../img/jane--booking.png') no-repeat top center;
    }
}
