.header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    padding: 1rem;
    &--logo {
        flex: 2;
        width: 100%;
        height: auto;
        padding: 0 1rem;
        svg {
            max-width: 10rem;
            max-height:100%;
            fill: rgba($orange, .75);
        }
    }
    &--nav {
        flex: 8;
    }
}
