.header--nav {
    ul {
        list-style: none inside;
        text-align: right;

        li {
            display: inline-block;
            text-align: center;
            padding: 2rem 3rem;
            font-size: 1.25rem;
            border-left: 1px dashed $orange;
        }
    }
    a {
        color: $orange;
    }
}
