* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background: $white;
}
img {
    max-width: 100%;
    height: auto;
}


.hidden {
    display: none;
    width: 0;
    height: 0;
}

.download {
    fill: $orange;
    max-width: 10rem;
    width: 200px;
    height: 234.694px;

}
