html {
    font: 400 100%/1.4 $sans-serif;
    -webkit-font-smoothing: antialiased;
}


p {
    font-weight: 400;
    font-family: "skolar";
}

a {
    text-decoration: none;
}

.titling {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    span {
        border-bottom: 1px solid;
        padding: 0 .5rem .5rem;
    }
}
