.hero {
    width: 100%;
    background-color: rgba($yellow, .5);
    background: url('../img/hero.jpg') no-repeat center center;
    background-size: cover;
    height: 45rem;
    color: $white;
    position: relative;
    h1 {
        width: 40%;
        max-width: 20rem;
        height: auto;
        position: absolute;
        left: 1rem;
        bottom: 1rem;
    }
    svg {
        max-height:100%;
        fill: currentColor;
    }
}
