.hero {
    width: 100%;
    background-color: rgba($yellow, .5);
    background: url('../img/hero.jpg') no-repeat center center / cover;
    padding: 18rem 1rem;
    color: $white;
    h1 {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 10px;
        font-size: 3rem;
        font-weight: 700;
        @include respond-to(handhelds) {
            font-size: 2rem;
        }
    }
}
