

.circling {
    border-radius: 100%;
    padding: .625rem;
}
.icon {
    width: 4rem;
    height: 4rem;
    fill: $yellow;
    border: 1px solid $yellow;
    transition: all 750ms ease;
    &:hover, &:focus {
        width: 3rem;
        height: 3rem;
        fill: $orange;
        border: 1px solid $orange;
    }
}
