.modules--container {
    width: 95%;
    margin: 1rem auto;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    .modules--unit {
        flex: 1 0 20rem;
        padding: 1rem;
    }
}
