---
layout: default
---
<div class="hero">
    <img src="{{ "/src/img/jane__about.jpg" | prepend: site.baseurl }}" alt="" />
</div>
<div class="about modules--container">
    <aside class="modules--unit">
        <div class="about--press about--side">
            <h3>Press Kit</h3>
            <p>Feel free to use these press photos and song in your publication. Just be sure to send me a link, because I would love to read it.</p>
            <a href="https://dl.dropboxusercontent.com/u/24319580/JM_PRESS.ziphttps://dl.dropboxusercontent.com/u/24319580/JM_PRESS.zip" class="btn">Download</a>
        </div>
        <div class="about--social about--side">
            <h3>Social Media</h3>
            <ul>
                <li><a href="https://www.facebook.com/JaneMarczewskiMusic">Facebook</a></li>
                <li><a href="http://instagram.com/janemarczewski">Instagram</a></li>
                <li><a href="https://twitter.com/JaneMarczewski">Twitter</a></li>
                <li><a href="http://www.pinterest.com/janemarczewski/">Pinterest</a></li>
                <li><a href="https://plus.google.com/102606626601825296538">Google Plus</a></li>
            </ul>
        </div>
    </aside>
    <article class="post modules--unit">
            <header class="post--full_header">
                <h1 class="post--full_title">{{ page.title }}</h1>
            </header>
            <section class="post--full_content entry">
                {{ content }}
            </section>
            <footer class="post--full_content">

            </footer>
    </article>
</div>
